{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 id="graphPaname">graphPaname</h1>
    <p>
    graphPaname is a system that collects real-time data, relevant to the COVID-19 pandemic de-escalation,  from the city of Paris.
    </p>


    <p>
    It works with 4 datasets about the de-escalation:
    </p>

    <ul class="org-ul">
    <li>Retailers with home delivery</li>
    <li>Additional parking places in relay parkings (parkings connected to public transportation)</li>
    <li>Temporary cycling paths</li>
    <li>Temporary pedestrian streets</li>
    </ul>

    <p>
    For each dataset, we offer a table with the data, and a map of Paris with markers. Additionally, there&rsquo;s a section with photos related to the COVID-19 pandemic.
    </p>
</div>
{% endblock %}
