{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Dataset visualization</h1>
<div class="row">
    <div class="col-md-9">
        {{ table|safe }}
    </div>
    <div class="col-md-1">
        <iframe id="map", src="/map" width="350" height="350"></iframe>
    </div>
</div>
<p><a href="{{ url_for('data') }}">Back</a></p>
{% endblock %}
